html {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282a36;
}

body {
    margin: 0;
}

header,
section,
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: #ff5555;
}

h2 {
    color: #50fa7b;
}

h3,
h4,
h5,
h6 {
    color: #ffb86c;
}

p,
span,
strong {
    color: #f8f8f2;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1440px;
}

header {
    border-bottom: 1px solid #f8f8f2;
}

header .align-presentation {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-radius: 5px;
    position: relative;
}

header .align-presentation .image-part {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 10vw;
    top: 5px;
}

header .align-presentation .image-part img {
    width: auto;
    height: auto;
    max-height: 100%;
    transform: scale(1.5);
    margin-bottom: -65px;
}

.about-me .content-about-me,
.about-project .content-about-project,
.some-tricks .content-some-tricks {
    width: 100%;
}

.content-some-tricks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-some-tricks a {
    text-decoration: none;
}

.content-some-tricks a .item-trick {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 25px;
}

.content-some-tricks a .item-trick:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}


.content-some-tricks a .item-trick .image-item-trick {
    min-height: 255px;
    width: 255px;
    display: flex;
    justify-content: center;
}

.content-some-tricks a .item-trick .image-item-trick img {
    width: 225px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
}

.content-some-tricks a .item-trick .description-item-trick p {
    color: #ffffff;
    margin: 0;
}

.empty-space {
    height: 50px;
}

@media (max-width: 600px) {
    header .align-presentation .image-part {
        width: 100px;
        height: 100px;
        right: 0vw;
        top: auto;
    }

    header .align-presentation .image-part img {
        margin-bottom: -30px;
    }
}